.purchase__content{
    width: 100%;
}
.purchase__content{
    display: block;
    text-align: center;
}
.purchase__content h2{
    font-size: 50px;
    font-weight: bold;
}
.purchase__content h3{
    font-size: 30px;
}

.form__label--item{
    font-size: 25px;
}
.form__input--text input{
    width: 500px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.form__button {
    margin-top: 40px;
}

.form__button-submit {
    margin-top: 40px;
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #fc8ac1;
    color: #fff;
    cursor: pointer;
}